{% load static %}

<!DOCTYPE html>

<html lang="ru">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>biophora</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  <body>

      <!-- START of Header with Navbar -->
      <header>

        <a class="logo" href="{% url 'recent' %}"><h1>biophora</h1></a>

        <form class="search" action="{% url 'search_results' %}">
          <input class="search-bar" type="search" name="search" value="">
          <input class="search-button" type="submit" value="Искать">
        </form>

        <nav>
          <a href="{% url 'recent' %}">Главная</a>
          <a href="{% url 'articles_catalog' %}">Статьи</a>
          <a href="{% url 'books_catalog' %}">Книги</a>
          <a href="{% url 'videos_catalog' %}">Видеоматериалы</a>
          <a href="{% url 'about' %}">О нас</a>
        </nav>

      </header>
      <!-- END of Header with Navbar -->

      <!-- START of class="content" -->
      <div class="content">

        {% block content %}
        {% endblock %}

      </div>
      <!-- END of class="content" -->

  </body>

</html>
