{% load static %}

<!DOCTYPE html>

<html lang="ru">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>biophora</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  <body>

    <!-- Class="wrapper" -->
    <div class="wrapper">
	    
      <!-- Site Header with Navigation Bar -->
      <header class="header">
	  
        <a class="logo" href="{% url 'recent' %}"><h1>biophora</h1></a>
      
        <form class="search" action="{% url 'search_results' %}">
          <input class="search-bar" type="search" name="search">
          <input class="search-button" type="submit">
        </form>
      
        <nav class="navbar">
          <a class="navbutton transition" href="{% url 'recent' %}">Главная</a>
          <a class="navbutton transition" href="{% url 'articles_catalog' %}">Статьи</a>
          <a class="navbutton transition" href="{% url 'books_catalog' %}">Книги</a>
          <a class="navbutton transition" href="{% url 'videos_catalog' %}">Видеоматериалы</a>
          <a class="navbutton transition" href="{% url 'about' %}">О нас</a>
        </nav>
    
      </header>
      <!-- End of Site Header with Navigation Bar -->

      <!-- Class="content" -->
      <div class="content">
      
        {% block content %}
        {% endblock %}

      </div>
      <!-- End of class="content" -->

    </div> 
    <!-- End of class="wrapper" -->
  
  </body>
  
</html>
