{% extends 'base.html' %}

{% block content %}

<h2 class="block-name">КНИГИ</h2>

<div class="books grid">

  {% for book in books %}

    <div class="book-preview" >
      <img src="{{ book.preview.url }}" height="200px">
      <p class="book-title">{{ book.title }}</p>
      <p class="preview-author-name">{{ book.author }}</p>
      <p class="preview-description">{{ book.description }}</p>
      <a href="{{ book.download_link }}">Скачать</a>
    </div>

  {% endfor %}

</div>

{% endblock %}
