{% extends 'base.html' %}


{% block content %}

<p class="motd"><span class="motd-mainword">biophora</span> -
        проверенный источник
        информации по биологии, не
        бойтесь за авторитетность.</p>

        <!-- START of class="recent-articles" -->
        <h2 class="block-name">ПОСЛЕДНИЕ СТАТЬИ</h2>
        <div class="recent">
            <ul type="none" class="recent-articles-names">
              {% for article in articles %}
                <li><a href="{% url 'article' pk=article.pk %}">{{ article.title }}</a></li>
              {% endfor %}
            </ul>
        </div>
        <!-- END of class="recent-articles" -->

        <!--START of class="recent-books"-->
        <h2 class="block-name">ПОСЛЕДНИЕ КНИГИ</h2>
        <div class="recent books grid">
          {% for book in books %}
            <div class="book-preview" >
              <img src="{{ book.preview.url }}" height="200px">
              <p class="book-title">{{ book.title }}</p>
              <p class="preview-author-name">{{ book.author }}</p>
              <p class="preview-description">{{ book.description }}</p>
              <a href="{{ book.download_link }}">Скачать</a>
            </div>
          {% endfor %}
        </div>
        <!--END of class="recent-books"-->

        <!-- START of class="recent-videos" -->
        <h2 class="block-name">ПОСЛЕДНИЕ ВИДЕО</h2>
        <div class="recent videos grid">
          {% for video in videos %}
            <div class="video-preview">
              <img src="{{ video.preview.url }}" height="70px">
              <p class="video-title">{{ video.title }}</p>
              <p class="preview-author-name">{{ video.author }}</p>
              <p class="preview-description">{{ video.description }}</p>
              <a href="{{ video.watch_link }}">Смотреть</a>
            </div>
          {% endfor %}
        </div>
        <!-- END of class="recent-videos" -->

{% endblock %}
