    <p class="motd"><span class="motd-mainword">biophora</span> -
        проверенный источник
        информации по биологии, не 
        бойтесь за авторитетность.</p>
        
        <div class="recent">
          
          <h2 class="block-name">ПОСЛЕДНИЕ СТАТЬИ</h2>
          
          <ul type="none" class="recent-articles-names">
            <li><a href="article.html">Животные в нашем городе</a></li>
            <li><a href="article.html">Рыбки в деревенском пруду</a></li>
            <li><a href="article.html">Конечное состояние замкнутой экосистемы во время полного изолирования оппонента</a></li>
          </ul>
          
        </div>
        <!-- End of class="recent-articles" -->
        
        <div class="recent">
          
          <h2 class="block-name">ПОСЛЕДНИЕ КНИГИ</h2>
          
          <div class="book-preview left">
            <a href="#"><img src="img/testcover.jpg" height="200px"></a>
            <p class="author-name">Иванов И. М.</p>
            <p class="book-title">Введение в общую биологию</p>
            <p class="book-description"> Эта книга предназначена для учеников старшей школы и является универсальным учебным пособием для школьников, изучающих биологию и, начинающих постигать анатомию.</p>
          </div>
          
          <div class="book-preview">
            <a href="#"><img src="img/testcover.jpg" height="200px"></a>
            <p class="author-name">Иванов И. М.</p>
            <p class="book-title">Введение в общую биологию</p>
            <p class="book-description"> Эта книга предназначена для учеников старшей школы и является универсальным учебным пособием для школьников, изучающих биологию и, начинающих постигать анатомию.</p>
          </div>
          
          <div class="book-preview right">
            <a href="#"><img src="img/testcover.jpg" height="200px"></a>
            <p class="author-name">Иванов И. М.</p>
            <p class="book-title">Введение в общую биологию</p>
            <p class="book-description"> Эта книга предназначена для учеников старшей школы и является универсальным учебным пособием для школьников, изучающих биологию и, начинающих постигать анатомию.</p>
          </div>
        
        </div>
        <!--End of class="recent-books"-->
        
        <div class="recent">
          
          <h2 class="block-name">ПОСЛЕДНИЕ ВИДЕО</h2>
          
          <div class="video-preview left">
            <a href="#"><img src="img/testvidpreview.jpg" height="70px"></a>
            <p class="author-name">Автор видеоролика</p>
            <p class="video-title">Название видеоролика</p>
            <p class="video-description"> Краткое описание видеоролика.</p>
          </div>
          
          <div class="video-preview">
            <a href="#"><img src="img/testvidpreview.jpg" height="70px"></a>
            <p class="author-name">Автор видеоролика</p>
            <p class="video-title">Название видеоролика</p>
            <p class="video-description"> Краткое описание видеоролика.</p>
          </div>
          
          <div class="video-preview right">
            <a href="#"><img src="img/testvidpreview.jpg" height="70px"></a>
            <p class="author-name">Автор видеоролика</p>
            <p class="video-title">Название видеоролика</p>
            <p class="video-description"> Краткое описание видеоролика.</p>
          </div>
          
        </div>
        <!-- End of class="recent-videos" -->