{% extends 'base.html' %}

{% block content %}

<h2 class="block-name">ВИДЕО</h2>

<div class="videos grid">

  {% for video in videos %}

    <div class="video-preview">
      <img src="{{ video.preview.url }}" height="70px">
      <p class="video-title">{{ video.title }}</p>
      <p class="preview-author-name">{{ video.author }}</p>
      <p class="preview-description">{{ video.description }}</p>
      <a href="{{ video.watch_link }}">Смотреть</a>
    </div>

  {% endfor %}

</div>

{% endblock %}
